$theme: (
  light: (
    color: #213547,
    background-color: #ffffff,
    button: #f9f9f9,
    link: #747bff,
  ),
  dark: (
    color: #ffffff,
    background-color: #000000,
    button: #000000,
    link: #ffffff,
  ),
);
